{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>About Tesla Auto Charge</h1>
    </div>
    <p><b>Tesla Auto Charge</b> (also known as <b>TAC</b>) is a stand-alone Python-based application for controlling the charging of your Tesla vehicle, based on elspot prices delivered by <a href="https://www.nordpoolgroup.com" target="_blank">Nord Pool</a>. The goal of the application is to lower the user's power bill by charging the vehicle while the electricity prices are low and stop charging when the prices are high.</p>

    <p>The application is <a href="https://www.github.com/FredrikBakken" target="_blank">open-source</a> and free to use by anyone.</p>

    <p><b>Developer(s)</b><br>
    <a href="https://www.fredrikbakken.no/" target="_blank">Fredrik Bakken</a></p>
{% endblock %}