{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Electrical Spot Prices</h1>
    </div>
    <div style="margin: 10px 0">
        <h5 class="display-5"><b>Dates: </b> {{spot_dates}}</h5>
        <h5 class="display-5"><b>Location: </b> {{spot_location}}</h5>
    </div>

    <canvas id="Elspot_chart" width="144.9px" height="50%"></canvas>

    </br>

    <div style="margin: 10px 0; text-align: center;">
        <div style="margin: 10px 0">
            <h5 class="display-5"><b>Home location</b></h5>
            {% if "False" in not_defined %}
            <a href="/elspot" class="btn btn-primary" style="width:150px" role="button">{{home_location}}</a>
            <p>Home location can be changed under the <a href="/settings">Settings</a> page.</p>
            {% else %}
            <p>Home location must be set under the <a href="/settings">Settings</a> page.</p>
            {% endif %}
        </div>

        <div style="margin: 20px 0">
            <h5 class="display-5"><b>All locations</b></h5>
            <a href="/elspot/SE1" class="btn btn-success" style="width:115px" role="button">SE1</a>
            <a href="/elspot/SE2" class="btn btn-success" style="width:115px" role="button">SE2</a>
            <a href="/elspot/SE3" class="btn btn-success" style="width:115px" role="button">SE3</a>
            <a href="/elspot/SE4" class="btn btn-success" style="width:115px" role="button">SE4</a>
            <a href="/elspot/FI" class="btn btn-success" style="width:115px" role="button">FI</a>
            <a href="/elspot/DK1" class="btn btn-success" style="width:115px" role="button">DK1</a>
            <a href="/elspot/DK2" class="btn btn-success" style="width:115px" role="button">DK2</a>
        </div>
        <div style="margin: 20px 0">
            <a href="/elspot/Oslo" class="btn btn-success" style="width:115px" role="button">NO1: Oslo</a>
            <a href="/elspot/Kr.sand" class="btn btn-success" style="width:115px" role="button">NO2: Kr.sand</a>
            <a href="/elspot/Molde" class="btn btn-success" style="width:115px" role="button">NO3: Molde</a>
            <a href="/elspot/Tr.heim" class="btn btn-success" style="width:115px" role="button">NO3: Tr.heim</a>
            <a href="/elspot/Tromsø" class="btn btn-success" style="width:115px" role="button">NO4: Tromsø</a>
            <a href="/elspot/Bergen" class="btn btn-success" style="width:115px" role="button">NO5: Bergen</a>
            <a href="/elspot/EE" class="btn btn-success" style="width:115px" role="button">EE</a>
            <a href="/elspot/LV" class="btn btn-success" style="width:115px" role="button">LV</a>
            <a href="/elspot/LT" class="btn btn-success" style="width:115px" role="button">LT</a>
        </div>
    </div>

    <div style="margin: 40px 0">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="text-align:center">Date</th>
                    <th scope="col" style="text-align:center">Time Frame</th>
                    <th scope="col" style="text-align:center">Electrical Spot Price</th>
                </tr>
            </thead>
            <tbody>
            {% for spot in spot_prices %}
            <tr>
                <th style="text-align:center">{{spot[0]}}</th>
                <th style="text-align:center">{{spot[1]}}</th>
                <th style="text-align:center">€{{spot[2]}}/MWh</th>
            </tr>
            {% endfor %}
            <tr>
                <th></th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="{{url_for('static', filename='scripts/Chart.js')}}"></script>
    <script>
        var ctx = document.getElementById("Elspot_chart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [ {% for item in labels %}
                                {{item}},
                          {% endfor %}],
                datasets: [{
                    label: 'EUR/MWh',
                    data: [ {% for item in values %}
                                {{item}},
                            {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 5
                }]
            },
        });

    </script>
{% endblock %}