{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Previous Charges</h1>
    </div>
    <p>TODO: Create a selection list here for the user to select which date to get charge history from.</p>
    <p>TODO: Create a summary section to show data about: (i) How long it has been running, days. (ii) How much money has been saved (iii) Other?</p>
    <p>TODO: Draw a line chart showing the elspot prices of set how location and vehicle charging data.</p>
{% endblock %}